body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: url('./clock1.jpg');
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
    color: black;
    margin-left: -45px;
}

.clock {
    display: flex;
    align-items: center; /* Center vertically */
}

.clock div {
    margin: 5px;
    
}

.clock span {
    width: 100px;
    height: 80px;
    background-color: slateblue;
    color: white;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.clock .text {
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: darkblue;
    opacity: 0.7;
}

.clock #indicator {
    
  
    
    width: 50px; /* Adjust width as needed */
    height: 20px; /* Match height of other spans */
    background: darkgreen;
    color: white; /* Add text color */
    font-size: 20px; /* Adjust font size */
    
}
